html,
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "Microsoft YaHei";
}

.clientInfo-wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    color: #333;
    background: #f6f6f6 url(../images/scissors.png) top right no-repeat;
}
.clientInfo-wrapper2 {
    margin: 30px;
    padding: 20px;
    display: inline-block;
    border: 1px dashed silver;
}
.clientInfo {
    border-collapse: collapse;
}
.clientInfo td {
    padding: 5px 10px;
}
.clientInfo-wrapper h1 {
    color: #666;
    text-align: center;
}
.tip {
    padding: 20px;
    color: white;
    background: #F9BC32;
    clear: both;
}
.tip img {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.tip span {
    line-height: 1.5;
}