html,
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-size: 13px;
    /*font-family: "Microsoft YaHei";*/
}
.wrapper {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
    list-style: none;
}
#connect-status {margin-left: 10px;}